<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo, height: 600, width: 2000, crop: :fill %>')">
  <p><%= @cocktail.name %></p>
</div>

<div class="container">
  <ul class="list-index">
    <% @cocktail.doses.each do |dose| %>
      <%= dose.description %>
      <%= dose.ingredient.photo %>
    <% end %>
  </ul>

  <br>
  <%= link_to 'New dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>
  <%= link_to 'All the cocktails', cocktails_path, class: "btn btn-secondary"%>
</div>

